{% extends 'layout.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>


    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button class="btn btn-success">{{ button_label|default('Find') }}</button>
    {{ form_end(searchForm) }}
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                {% if is_granted('ROLE_ADMIN') %}<th>Owner</th>{% endif %}
                <th>Title</th>
                <th>Text</th>
                <th>Category</th>
                {% if is_granted('ROLE_ADMIN') and showPercent %}<th>Percent</th>{% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                {% if blog.user and is_granted('ROLE_ADMIN') %}
                    <td>{{ blog.user.email }}</td>
                {% endif %}
                <td>{{ blog.title }}</td>
                <td>{{ blog.text|slice(0, 50) ~ (blog.text|length > 50 ? '...' : '') }}</td>
                <td>
                    {% if blog.category is not null %}
                        {{ blog.category.name }}
                    {% else %}
                        No category
                    {% endif %}
                </td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    {% if showPercent %}<td>{{ blog.percent }}</td>{% endif %}
                        <a href="{{ path('app_blog_edit', {'id': blog.id}) }}" class="btn btn-outline-warning btn-sm">edit</a>
                    {% else %}
                        <a href="{{ path('app_user_blog_edit', {'id': blog.id}) }}" class="btn btn-outline-warning btn-sm">edit</a>
                    {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(blogs) }}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_blog_new') }}" class="btn btn-outline-primary">Create new</a>
    {% else %}
        <a href="{{ url('app_user_blog_new') }}" class="btn btn-outline-primary">Create new</a>
    {% endif %}
{% endblock %}
