{% extends 'layout.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>


    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button class="btn btn-success">{{ button_label|default('Find') }}</button>
    {{ form_end(searchForm) }}
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.text }}</td>
                <td>
                    {% if blog.category is not null %}
                        {{ blog.category.id }}
                    {% else %}
                        No category
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_blog_show', {'id': blog.id}) }}" class="btn btn-outline-light btn-sm">show</a>
                    <a href="{{ path('app_blog_edit', {'id': blog.id}) }}" class="btn btn-outline-warning btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_blog_new') }}" class="btn btn-outline-primary">Create new</a>
{% endblock %}
