{% extends 'layout.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h1>Create new Blog</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <br>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_blog_index') }}" class="btn btn-primary">back to list</a>
    {% else %}
        <a href="{{ path('app_user_blog_index') }}" class="btn btn-primary">back to list</a>
    {% endif %}
{% endblock %}
